.background{
    background-image: url("https://i.pinimg.com/originals/75/0e/05/750e05d9867e02ce0ba641e1e2030bc5.jpg");
    background-position: "center";
    background-attachment: fixed;
    background-size: cover;
}